[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {tlor, [
         {host_ipv4, "<your-host-ipv4>"},
         {host_port, <your-host-port>},
         {pubsub_service, "<your-pubsub-node>"},
         {login_timeout, 500},
         {receive_timeout, 500}
        ]}
].

